<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="NhatPre">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NhatPre</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!--    &lt;!&ndash; Css Styles &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">-->
    <!--    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">-->
    <!--    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">-->
    <!--    <link rel="stylesheet" href="css/nice-select.css" type="text/css">-->
    <!--    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">-->
    <!--    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">-->
    <!--    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">-->
    <!--    <link rel="stylesheet" href="css/style.css" type="text/css">-->

    <!-- Css Styles thymeleaf -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/elegant-icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/nice-select.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/slicknav.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
<div class="container">
    <h2>Add Product</h2>
<!--    add message-->
    <!--/*@thymesVar id="message_add" type="dev"*/-->
    <div th:if="${message_add}" class="alert alert-success text-center">
        [[${message_add}]]
    </div>
    <form th:action="@{/products/add}" th:object="${product}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" th:field="*{price}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" th:field="*{description}" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label>Category:</label>
            <div th:each="category : ${categories}">
                <label>
                    <input type="radio" th:id="'category_' + ${category.id}" th:field="*{categoryId}" th:value="${category.id}" required/>
                    <span th:text="${category.name}"></span>
                </label>
            </div>
        </div>


        <div class="form-group">
            <label for="file">Thumbnail:</label>
            <input type="file" id="file" name="file" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#addProductForm').on('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting the traditional way

            var formData = new FormData(this);

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    var jsonResponse = JSON.parse(response);
                    $('#message').text(jsonResponse.message);
                },
                error: function(xhr, status, error) {
                    $('#message').text('An error occurred: ' + error);
                }
            });
        });
    });
</script>
</body>

</html>